<% content_for :title do %>About<% end %>
<h3> About Balu Bhat </h3>
<p>He was born in Shimoga, Karnataka. He thinks sin x / x equals x</p>
<p>He likes birds</p>
<p>He is the less famous of the Bhat brothers</p>
